/*Variable*/
@yellow:#FFEEBC;

/*Mixin en less*/
.margenes(@top, @botton) {
    margin-top: @top;
    margin-bottom: @botton;
}

.piePagina{
    background-color: @yellow;
}

.jumbotron{
    background-color: @yellow;
    //Utilizo el Mixin
    .margenes(50px,17px)
}

.tam-icono-plus{
    font-size: 11px;
}

.borde-sup{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.logo-tarjeta{
    width: 60px;
}