/*Variable*/
/*Mixin*/
.piePagina {
  background-color: #FFEEBC; }

.jumbotron {
  background-color: #FFEEBC;
  margin-top: 50px;
  margin-bottom: 17px; }

.tam-icono-plus {
  font-size: 11px; }

.borde-sup {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%; }

.logo-tarjeta {
  width: 60px; }
